.bandera{
  width:900px;
  height: 600px;
  background-color:#FFFF00;
  position: absolute;
  top:30px;
}



.verde{
  height:200px;
  width: 1000px;
  background: green;
  top: 0px;
}

.amarillo{
  height:200px;
  width: 1000px;
  background-color:  #FFFF00;
  position: relative;
  top: 0px;
}
.rojo{
  height:200px;
  width: 1000px;
  background-color:red;
  position: relative;
  top: 0px;
}

.triangulo{
  width: 0px;
  height:0px;
  border-bottom: 600px solid blue;
  border-left: 300px solid transparent;
  border-right:300px solid transparent ;
  position: absolute;
  transform: rotate(450deg);
  top:0px
  
}
img{
  position: absolute;
  top: 600px;
}
